---
import { type CollectionEntry, getCollection } from 'astro:content';
import BlogPost from '../../layouts/BlogPost.astro';
import BlogContent from '../../components/BlogContent.astro'

export async function getStaticPaths() {
	const posts = await getCollection('blog');
	return posts.map((post) => ({
		params: { slug: post.slug },
		props: post,
	}));
}
type Props = CollectionEntry<'blog'>;

const post = Astro.props;
---

<BlogPost {...post.data} >
  <div class="mt-10">
    <div class="mb-10 sm:max-w-3xl 3xl:max-w-7xl">
      <h1 class="text-4xl font-bold leading-tight">{post.data.title}</h1>
      <p class="mt-1 text-zinc-400">
        Last updated
        <b
          >{post.data.updatedAt.toLocaleDateString('en-gb', {
            year: 'numeric',
            month: 'long',
            day: 'numeric'
          })}</b
        >
      </p>
      <BlogContent body={post.body}/>
    </div>
  </div>
</BlogPost>

