---
import { getCollection } from "astro:content"

const posts = (await getCollection('blog'))
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tanat Blog</title>
	</head>
	<body>
    <div>
      Hello World
      <ul>
        {
          posts.map((post) => (
            <li>
              <a href={`/blog/${post.slug}/`}>
                <h4 class="title">{post.data.title}</h4>
              </a>
            </li>
          ))
				}
      </ul>
    </div>
	</body>
</html>
