<nav class="flex justify-between font-sans">
  <a href="/" class="logo text3d text-5xl font-bold">TANAT</a>

  <a
    href="/about"
    class="text-center text-xl font-light mt-4"
    >About Me</a
  >
</nav>

<style>
  .text3d {
    text-shadow:
      0.01em 0.03em #4ade80,
      0.03em 0.05em #2dd4bf,
      0.05em 0.07em #38bdf8;
  }
</style>
